<!-- =======================ABOUT============================
Зверніть увагу!                                             ||
Скелет (html, head, body) в цей файл додавати не потрібно!  ||
Додаємо тільки розмітку своєї частинки                      ||
                                                            ||
Коректний відносний шлях до зображень має такий вигляд      ||
<img src="/img/about/about-desk.jpg" alt="">                ||
========================================================== -->
section class="about">
<div class="container">
  <div class="about__wrapper">
    <div class="about__content">
      <h2 class="visually-hidden">About</h2>

      <ol class="activities-list">
        <li class="activity-item">
          <span class="activity-number">01</span>
          <p class="activity-description">
            Swimming and water sports: try your hand at water skiing
          </p>
        </li>
        <li class="activity-item">
          <span class="activity-number">02</span>
          <p class="activity-description">
            Fishing: try to catch your own dinner
          </p>
        </li>
        <li class="activity-item">
          <span class="activity-number">03</span>
          <p class="activity-description">
            Sightseeing tours: take a shore or island tour, enjoy the views and
            sunsets from the water
          </p>
        </li>
        <li class="activity-item">
          <span class="activity-number">04</span>
          <p class="activity-description">
            Rest and relaxation: read a book or listen to music while enjoying
            the outdoor atmosphere.
          </p>
        </li>
      </ol>
    </div>
    <div class="about__image">
      <img src="/img/about/about-desk.jpg" alt="About us" />
    </div>
  </div>
</div>
