<!-- =======================FOOTER===========================
Зверніть увагу!                                             ||
Скелет (html, head, body) в цей файл додавати не потрібно!  ||
Додаємо тільки розмітку своєї частинки                      ||
========================================================== -->
<footer class="footer" id footer>
<a href="/" class="logo">yachtjet</a>
</footer>
<h2 class="title">No matter which yacht you choose, our experienced crew will ensure that your journey is smooth and enjoyable.</h2>
<p class="text">2023. Yacht Adventures</p>
<p class="text">Privacy Police</p>
<nav>
    <ul>
        <li class="link">
            <p>About</p>
        </li>
        <li class="link">
            <p>Yachts</p>
        </li>
        <li class="link">
            <p>Reviews</p>
        </li>
    </ul>
</nav>